<nav class="navbar">
  <div class="logo">

      <a href="#"><img style="width: 60px;margin-left: -20px;" src="../../../assets/Images/logo 1.jpeg" alt="" >&nbsp;&nbsp;&nbsp;GASTO Cars</a>
  </div>
  <div class="menu">
      <div class="menu-links">
          <a routerLink="/home"><b>Home</b></a>
          <a routerLink=""><b>About Us</b></a>
          <a routerLink=""><b>Contact us</b></a>
          <a routerLink=""><b>Cars</b></a>
      </div>
      <div class="search-container">
        <form class="d-flex" role="search">
0          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
      </div>
      <button class="log-in" routerLink="/userLogin">Log In</button>
  <div class="menu-btn">
      <i class="fa fa-bars fa-solid"></i>
  </div>
</nav>
