<footer class="footer">
  <div class="container">
    <div class="footer-row">
      <div class="footer-col">
        <h3>Gasto Cars</h3>
        <p>Start your journey with confidence - choose GASTO cars for a seamless car rental experience.</p>
        <div class="social-icons">
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-google"></i></a>
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
      <div class="footer-col">
        <h4>Useful Links</h4>
        <ul>
          <li><a routerLink="/home"><i class="bi bi-house"></i> Home</a></li>
          <li><a routerLink="/aboutUs"><i class="bi bi-info-circle"></i> About Us</a></li>
          <li><a routerLink="/contactUs"><i class="bi bi-envelope"></i> Contact Us</a></li>
          <li><a routerLink="/cars"><i class="bi bi-car-front"></i> Cars</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Get Help</h4>
        <ul>
          <li><a href="#"><i class="bi bi-question-circle"></i> FAQ</a></li>
          <li><a href="#"><i class="bi bi-box-seam"></i> Shipping</a></li>
          <li><a href="#"><i class="bi bi-arrow-counterclockwise"></i> Returns</a></li>
          <li><a href="#"><i class="bi bi-clipboard-check"></i> Order Status</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Contact Us</h4>
        <form action="">
          <input type="email" name="email" id="email" placeholder="E-mail" required><br><br>
          <textarea name="message" id="message" cols="35" rows="4" placeholder="Your Message..." required></textarea><br>
          <button class="btn-footer" type="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Gasto Cars. All rights reserved.</p>
    </div>
  </div>
</footer>
