/* Footer */
.footer {
  background-color: #111314; /* Dark blue background */
  padding: 40px 0;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  width: 22%;
  margin-bottom: 20px;
}

.footer h3 {
  font-size: 24px;
  color: #ffa500; /* Orange for headings */
  margin-bottom: 15px;
}

.footer p {
  font-size: 16px;
  line-height: 1.6;
  color: #cccccc; /* Light gray for text */
}

.footer h4 {
  font-size: 18px;
  color: #ffa500; /* Orange for headings */
  margin-bottom: 15px;
  position: relative;
}

.footer h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffa500; /* Orange underline */
  height: 2px;
  width: 50px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer ul li a {
  color: #cccccc; /* Light gray for links */
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.footer ul li a i {
  margin-right: 8px;
  color: #ffa500; /* Orange for icons */
}

.footer ul li a:hover {
  color: #ffa500; /* Orange on hover */
}

.footer .social-icons {
  margin-top: 15px;
}

.footer .social-icons a {
  color: white;
  margin-right: 10px;
  font-size: 20px;
  transition: color 0.3s;
}

.footer .social-icons a:hover {
  color: #ffa500; /* Orange on hover */
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ffa500; /* Orange border */
  background: #333333; /* Dark blue background for input fields */
  color: white;
  font-size: 16px;
}

::placeholder {
  color: #cccccc; /* Light gray placeholder text */
}

.btn-footer {
  background: #d18b08; /* Orange button */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.btn-footer:hover {
  background: #ff7700; /* Darker orange on hover */
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: #1a252f; /* Slightly darker blue for bottom */
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
  color: gray;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 767px) {
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}
