.about-us {
  background-color: #f8f9fa;
  padding: 50px 0;
  color: #333;
  font-family: Arial, sans-serif;
}

.about-us .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-us h1 {
  text-align:center;
  color: #090979;
}
.about-us h2 {
  color: #090979;
}

.about-us p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.about-us ul {
  list-style-type: none;
  padding: 0;
}

.about-us ul li {
  margin-bottom: 10px;
}
