<b>Cars</b>
<div class="row mt-2">
  <div class="col-3 col-md-3">
    <div class="card">
      <img
        src="https://imgd.aeplcdn.com/370x208/n/cw/ec/156405/xuv-3xo-exterior-right-front-three-quarter.jpeg?isig=0&q=80"
        class="card-img-top hover-img" alt="...">
      <div class="card-body">
        <h3> suv name 1</h3>
        <h5> Rs 10 000 / per day</h5>
        class="card-text text-center">
        <ul style="list-style-type:circle;">
          <li>Fits for 5 people</li>
          <li>14 km for petrol liter</li>
          <li>Full option</li>
        </ul>
        <button class="btn btn-primary"> Booking now </button>
      </div>
    </div>
  </div>

  <div class="col-3 col-md-3">
    <div class="card">
      <img
        src="https://imgd.aeplcdn.com/370x208/n/cw/ec/103611/exterior-right-front-three-quarter-2.jpeg?isig=0&q=80"
        class="card-img-top hover-img" alt="...">
      <div class="card-body">
        <h3> suv name 2</h3>
        <h5> Rs 10 000 / per day</h5>
        class="card-text text-center">
        <ul style="list-style-type:circle;">
          <li>Fits for 5 people</li>
          <li>14 km for petrol liter</li>
          <li>Full option</li>
        </ul>


        <button class="btn btn-primary"> Booking now </button>
      </div>
    </div>
  </div>

  <div class="col-3 col-md-3">
    <div class="card">
      <img
        src="https://imgd.aeplcdn.com/370x208/n/cw/ec/103611/exterior-right-front-three-quarter-2.jpeg?isig=0&q=80"
        class="card-img-top hover-img" alt="...">
      <div class="card-body">
        <h3> suv name 2</h3>
        <h5> Rs 10 000 / per day</h5>
        class="card-text text-center">
        <ul style="list-style-type:circle;">
          <li>Fits for 5 people</li>
          <li>14 km for petrol liter</li>
          <li>Full option</li>
        </ul>


        <button class="btn btn-primary"> Booking now </button>
      </div>
    </div>
  </div>

  <div class="col-3 col-md-3">
    <div class="card">
      <img
        src="https://imgd.aeplcdn.com/370x208/n/cw/ec/103611/exterior-right-front-three-quarter-2.jpeg?isig=0&q=80"
        class="card-img-top hover-img" alt="...">
      <div class="card-body">
        <h3> suv name 2</h3>
        <h5> Rs 10 000 / per day</h5>
        class="card-text text-center">
        <ul style="list-style-type:circle;">
          <li>Fits for 5 people</li>
          <li>14 km for petrol liter</li>
          <li>Full option</li>
        </ul>


        <button class="btn btn-primary"> Booking now </button>
      </div>
    </div>
  </div>


  <div class="col-3 col-md-3">  <br><br>
    <div class="card">
      <img
        src="https://imgd.aeplcdn.com/370x208/n/cw/ec/103611/exterior-right-front-three-quarter-2.jpeg?isig=0&q=80"
        class="card-img-top hover-img" alt="...">
      <div class="card-body">
        <h3> suv name 2</h3>
        <h5> Rs 10 000 / per day</h5>
        class="card-text text-center">
        <ul style="list-style-type:circle;">
          <li>Fits for 5 people</li>
          <li>14 km for petrol liter</li>
          <li>Full option</li>
        </ul>

        <button class="btn btn-primary"> Booking now </button>
      </div>
    </div>
  </div>
